</br></br>

<div class="banner">
</div>

</br>

<div class="about-me">
	<p>
		The following web album was created using Ruby on Rails utilizing Thoughtbot's paperclip gem, amazon s3 and fancybox 2 javascript. Admin is able to CRUD (create, read, update and delete) album name and pictures.
	</p>

	<p>
		If anyone would like to have this template, please contact me using the form and I will get back in touch to share the code or create one in Heroku.
	</p>
</div>
