<div class="page-header">
  <% breadcrumb @album %>
  <% if user_signed_in? %>
    <%= link_to 'Add Picture', new_album_picture_path(@album), class: "btn btn-primary" %>
  <% end %>   
</div>

<div class="row">
  <% @pictures.each do |picture| %>
      <div class="col-md-4 col-sm-6 col-xs-12 picture">
        <%= link_to image_tag(picture.asset.url(:album)), picture.asset.url(:large), class: "fancybox", title: "#{picture.name}" %>
        
        <br>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_album_picture_path(@album, picture), :class => "btn btn-warning btn-xs" %>
          <%= link_to 'Destroy', album_picture_path(@album, picture), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %>  
        <% end %>
      </div>
  <% end %>
</div>

<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div> -->